<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="urbanairship-gimbal-cordova"
    version="1.0.5">

    <name>Urban Airship Gimbal Plugin</name>
    <description>Urban Airship Gimbal plugin for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>gimbal,cordova,urbanairship</keywords>
    <repo>https://github.com/urbanairship/phonegap-gimbal-plugin</repo>
    
    <engines>
        <engine name="cordova" version=">=5.4.0" />
        <engine name="cordova-plugman" version=">=4.2.0" />
    </engines>

    <dependency id="urbanairship-cordova" />

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/widget">
            <feature name="GimbalPlugin">
                <param name="ios-package" value="GimbalPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <hook type="before_compile" src="scripts/fix-gimbal-symlink.sh" />

        <!-- Set Usage Description to an empty string -->
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string></string>
        </config-file>

        <header-file src="src/ios/GimbalPlugin.h" />
        <source-file src="src/ios/GimbalPlugin.m" />

        <!-- Gimbal framework -->
        <framework src="src/ios/Gimbal.framework" custom="true" />
        
        <!-- Gimbal Adapter header and source -->
        <header-file src="src/ios/GimbalAdapter.h" />
        <source-file src="src/ios/GimbalAdapter.m" />

        <!-- system frameworks -->
        <framework src="CoreLocation.framework" />
        <framework src="libz.dylib" />
    </platform>
</plugin>
